<!DOCTYPE html>
<html>
<head>
	<link href="https://fonts.googleapis.com/css?family=Rubik" rel="stylesheet">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>QUIZMENOW | U.S. Citizenship Test</title>
	<style type="text/css">
		body{
			font-size: 15px;
			background-color: gainsboro;
			font-family: 'Rubik', sans-serif;
		}
		h1{
			text-align: center; 
			background: darkblue; 
			color: white; 
			padding: 30px; 
			margin: -10px
		}
		.answerDisplay, .resultDisplay{
			position: fixed;
			/*top: 320px;
			left: 500px;*/
		}
		.container{
			position: absolute;
			width: 50%;
			margin: 2% 35%;
		}
		.bottom-container{
			text-align: center;
		}
		.exit-btn{
			height: 40px; 
			width: 100px; 
			background: black; 
			color: white;
			position: fixed;
			left: 0;
			right:0;
		}
		.exit-btn:hover{
			background-color: yellow;
			color: black;
		}
		.copyright{
			font-size: 10px;
			position: fixed;
			bottom: 0;
			left: 0;
			right: 0;
			height: 30px;
		}
		.quiz-btn{
			display: inline-block;
			font-size: 15px;
			height: 50px;
			width: 50%;
			background: orange;
			border-radius: 15px;
			cursor: pointer;
		}
		.quiz-btn:hover{
			background-color: black;
			color: orange;
		}
	@media only screen 
    and (device-width : 375px) 
    and (device-height : 667px) 
    and (-webkit-device-pixel-ratio : 2) { 
    	.quiz-btn{
    		font-size: 10px;
    		width: 80%;
    		height: 50px;
    	}
    	.exit-btn{
    		height: 40px;
    		width: 45px;
    	}

    }
	</style>

</head>
<body>

<h1>U.S. Citizenship Test</h1>
<br>
	<% for(let i in citizenship) {%>
	<div class="container">
		<div class="quiz<%= i %>">
			<table>
				<tr><td><strong><%=  citizenship[i].question %></strong></td></tr>
				<tr><td>A: <input type="radio" id="A<%= i %>" name="question"><%=  citizenship[i].answers[0] %></td></tr>
				<tr><td>B: <input type="radio" id="B<%= i %>" name="question"><%=  citizenship[i].answers[1] %></td></tr>
				<tr><td>C: <input type="radio" id="C<%= i %>" name="question"><%=  citizenship[i].answers[2] %></td></tr>
				<tr><td>D: <input type="radio" id="D<%= i %>" name="question"><%=  citizenship[i].answers[3] %></td></tr>
				<tr style="display: none"><td>Answer: <input type="radio" id="E<%= i %>">
					<span id="AE<%= i %>"><%=  citizenship[i].correctAnswer %></span></td>
				</tr>
			</table>
			<br>
			<button class="quiz-btn" id="btn<%= i %>" data-q=<%= i %>>Check My Answer</button>
			<button class="quiz-btn" id="nextQ<%= i %>" data-q=<%= i %>>Next Question >></button>
			<br>
			<br>
			<div class="popupAnswer"><span class="answerDisplay"></span></div>
			<div class="popupResult"><span class="resultDisplay"></span></div>
			<br>
			<br>
			<br>
			<br>
			
			</div>
			<br>
		</div>
	<% } %>

	<br>
	<form method="get" action="/" style="margin-top: -90px">
		<button class="exit-btn">Exit</button>
	</form>
	<br>
	<div class="bottom-container">	
		<footer class="copyright">&copy; 2018 QuizMeNow</footer>
	</div>

<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script type="text/javascript" src="ques_ans.js"></script>
<script type="text/javascript" src="current_next_ques.js"></script>
</body>
</html>